[[flow-declaration]]

import React, { Component } from "react";

import MyComponent from "./MyComponent";

[[flow-props-type]]

[[flow-state-type]]

class MyComponentContainer extends Component[[flow-component-typing]] {
  [[flow-default-props-static]]

  constructor(props) {
    super(props);

    this.state = {
      value1: "test",
    };
  }

  render() {
    const { value1 } = this.state;
    return (<MyComponent value1={value1} />)
  }
}

export default MyComponentContainer;